<?xml version="1.0"?>
<model>
  <name>octorotor</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Agolika</name>
    <email>agolika@example.com</email>
  </author>
  <description>
    Cross-coaxial octorotor model for ASMC-FTC simulation.
  </description>
</model>
